# Balmon SFR - Environment Variables Template

# PERINGATAN: File ini (.env.example) BOLEH masuk ke Git
# Password asli jangan taruh di file ini
# Caranya copy file ini menjadi ".env" dan isi dengan nilai yang sebenarnya
# File ".env" Tidak masuk dan tidak boleh masuk Git


# 1. Conf Global
# Zona waktu yang di set ke semua docker container, dan harus sinkron ke semua
# Agar log dan database sinkron dengan waktu lokal (Aturan 13)
TZ=Asia/Jakarta

# 2. Konfigurasi PostgreSQL Database
# Kredensial untuk akses database
POSTGRES_USER=balmon_user
POSTGRES_PASSWORD=ganti_dengan_password_yang_kuat
POSTGRES_DB=balmon_db

# 3. Konfigurasi MinIO (Object Storage)
# Kredensial untuk mengakses MinIO Console dan API
MINIO_ROOT_USER=admin_minio
MINIO_ROOT_PASSWORD=ganti_dengan_password_minio_yang_kuat

# 4. Konfigurasi Telegram Bot
# Token dari BotFather(Kosongkan dulu saat dev jika belum ada)
TELEGRAM_BOT_TOKEN=token

# 5. Konfigurasi Core Web 
# Secrete key untuk Flask session (bisa di generate acak)
SECRETE_KEY=ganti_dengan_random_string_yang_panjang

